*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.mainContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  background-image: url(./assets/bg-weather.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 806px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;

}
.content{
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.leftDiv{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content:space-between;
}
.logo img{
  width: 100px;
}
.weatherData{
  display: flex;
  align-items: center;
  gap: 0px 30px;
  
}
.weatherData h1{
  color: white;
  font-size: 143px;
}
.weatherData h2{
  color: white;
  font-size: 60px;
}
.weatherData p{
  font-size: 18px;
  color: white;
}
.weatherData img{
  width: 70px;
}
.tempMax, .tempMin{
  display: flex;
}
.hourlyTemp{
  display: flex;
  
}
.rightDiv{
  color: white;
  background-color: black;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 50px;
}
.searchBar{
  display: flex;
  margin-bottom: -40px;
}
.searchBar input{
  background-color: transparent;
  width: 100%;
  outline: none;
  font-size: 20px;
  font-weight: 300;
  color: white;
 border: none;
}
.searchBar input::placeholder{
  color: white;
}
.weatherDetails{
  font-size: 20px;
  font-weight: 300;
}
.tempDetails h4{
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}
.tempDetails{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.tempMax{
  display: flex;
  flex-direction: row;
  
}
.tempMaxText, .tempMinText{
  font-size: 18px;
  width: 75%;
}
.tempMaxDeg, .tempMinDeg {
  font-size: 22px;
  width: 20%;
}
.tempMaxIcon{
  font-size: 25px;
  color: #DFA1A1;
}
.tempMinIcon{
  color: #6D97CA;
  font-size: 25px;
}
.tempMinIcons{
  color: white;
  font-size: 25px;
}
.tempMinWind{
  font-size: 20px;
  padding-right: 20px;
}
.magnifier{
  font-size: 25px;
}